# R-specific files
.Rhistory
.RData
.Ruserdata

# If you use RStudio
.Rproj.user/

# Additional exclusions
*.html # Avoid tracking outputs of knit
/DSTI_Survival_Analysis_Project_Samd_Guizani_A23_SPOC_files